
@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>questionsView</title>
    <a href="index.html" class="logo" style="margin-left: 100px"><b>Öğrenci burda soruları görcek<span></span></b></a>
</head>
<body>
    <div>
    </div>
</body>
</html>
