@model OnlineSinav.Areas.Teacher.ViewModels.Questions
@{
    ViewBag.Title = "CreateExam";
    var obj = Model;
}




<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.title</title>

    <!-- Favicons -->
    <link href="../../../Content/img/favicon.png" rel="icon">
    <link href="../../../Content/img/apple-touch-icon.png" rel="apple-touch-icon">


    <!-- Bootstrap core CSS -->
    <link href="../../../Content/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="../../../Content/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../../Content/lib/bootstrap-datepicker/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="../../../Content/lib/bootstrap-daterangepicker/daterangepicker.css" />
    <!-- Custom styles for this template -->
    <link href="../../../Content/css/style.css" rel="stylesheet">
    <link href="../../../Content/css/style-responsive.css" rel="stylesheet">

    <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
    ======================================================= -->
</head>

<section id="main-content">
    <section class="wrapper">
        @Html.Partial("_QuestionLayout", Model)
    </section>
    <!-- /wrapper -->
</section>




<!-- js placed at the end of the document so the pages load faster -->
<script src="/Content/lib/jquery/jquery.min.js"></script>
<script src="/Content/lib/bootstrap/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="/Content/lib/jquery.dcjqaccordion.2.7.js"></script>
<script src="/Content/lib/jquery.scrollTo.min.js"></script>
<script src="/Content/lib/jquery.nicescroll.js" type="text/javascript"></script>
<!--common script for all pages-->
<script src="/Content/lib/common-scripts.js"></script>
<!--script for this page-->
<script src="/Content/lib/jquery-ui-1.9.2.custom.min.js"></script>
<!--custom switch-->
<script src="/Content/lib/bootstrap-switch.js"></script>
<!--custom tagsinput-->
<script src="/Content/lib/jquery.tagsinput.js"></script>
<!--custom checkbox & radio-->
<script type="text/javascript" src="~/Content/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="~/Content/lib/bootstrap-daterangepicker/date.js"></script>
<script type="text/javascript" src="~/Content/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="~/Content/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="~/Content/lib/bootstrap-daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="~/Content/lib/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
<script src="~/Content/lib/advanced-form-components.js"></script>
<script type="text/javascript" src="~/Content/lib/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
<script src="~/Content/lib/form-component.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>




<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        var max_fields = 25;
        var wrapper = $(".toAppend");

        var partialHTML = `
<div id="newForm">
    <div class="form-group" style="margin-right: 0px;">
        <div class="col-lg-12">
            <hr />

            <button type="button" class="btn btn-danger delete pull-right"><i class="fa-plus">  SORUYU SİL</i></button>
            <button type="button" class="btn btn-success newQuest pull-right"><i class="fa-plus">  YENİ SORU EKLE</i></button>
            <label class="control-label col-md-3" for="question_string">SORU ALANI</label>
            <textarea class="form-control" cols="20" id="question_string" name="question_string" placeholder="Soru buraya yazılacak." rows="2" style="max-width:100%; min-width:100%">
</textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-8 col-xs-11">
            <label class="col-sm-2 col-sm-2 control-label" for="A">A</label>
            <input class="col-sm-10" id="A" name="A" type="text" value="" />
        </div>
    </div>
    <div class="form-group">

        <div class="col-md-8 col-xs-11">
            <label class="col-sm-2 col-sm-2 control-label" for="B">B</label>
            <input class="col-sm-10" id="B" name="B" type="text" value="" />
        </div>
    </div>
    <div class="form-group">

        <div class="col-md-8 col-xs-11">
            <label class="col-sm-2 col-sm-2 control-label" for="C">C</label>
            <input class="col-sm-10" id="C" name="C" type="text" value="" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-8 col-xs-11">
            <label class="col-sm-2 col-sm-2 control-label" for="D">D</label>
            <input class="col-sm-10" id="D" name="D" type="text" value="" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-8 col-xs-11">
            <label class="col-sm-2 col-sm-2 control-label" for="E">E</label>
            <input class="col-sm-10" id="E" name="E" type="text" value="" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-8 col-xs-11">
            <label class="col-sm-2 col-sm-2 control-label" for="correct_answer">DOĞRU CEVAP</label>
            <input class="col-sm-1" id="correct_answer" name="correct_answer" type="text" value="" />
        </div>
    </div>
</div>`;

        var x = 1;

        $(wrapper).on("click", ".delete", function (e) {
            e.preventDefault();
            $(this).parent('div').parent('div').parent('div').remove();
            x--;
        });

        $(wrapper).on("click", ".newQuest", function (e) {
            e.preventDefault();
            if (x < max_fields) {
                x++;
                $(wrapper).append(partialHTML); //add input box
            } else {
                alert('You Reached the limits')
            }
        });

        $("#btnSubmit").click(function () {
            var count = $("input[name ='checkBoxid']:checked").length;
            if (count == 0) {
                alert("Bir seçenek seçiniz.");
                return false;
            }


        }
        );

        function ModifyCheckBoxes(Id) {
            if (document.getElementById(Id).checked) {
                if (Id == "chkNo") {
                    document.getElementById("chkYes").checked = false;
                } else if (Id == "chkYes") {
                    document.getElementById("chkNo").checked = false;
                }
            };
        };

        $("#submitForm").click(function () {
            let oneData = {};
            let allData = [];
            let stringifiedSTR = "[";
            let i = 0, j = 0; // i formdata'daki verileri; j ise allData'daki verileri kontrol edecek
            let examsDetails = $("#examDetails").serializeArray();
            let ourformData = $("#ourForm").serializeArray(); // formu seri bir array haline getiriyor
            $.each(ourformData, function (a, element) {
                if (i == 0) {
                    oneData[element.name] = element.value;
                    i++;
                } else if (i == 1) {
                    oneData[element.name] = element.value;
                    i++;
                } else if (i == 2) {
                    oneData[element.name] = element.value;
                    i++;
                } else if (i == 3) {
                    oneData[element.name] = element.value;
                    i++;
                } else if (i == 4) {
                    oneData[element.name] = element.value;
                    i++;
                } else if (i == 5) {
                    oneData[element.name] = element.value;
                    i++;
                } else if (i == 6) {
                    oneData[element.name] = element.value;
                    allData[j] = oneData;
                    if (j == 0) {
                        stringifiedSTR += JSON.stringify(allData[j]);
                        j++;
                    } else {
                        stringifiedSTR = stringifiedSTR + "," + JSON.stringify(allData[j]);
                        j++;
                    }
                    i = 0;
                }
            });

            stringifiedSTR += "]";

            $.ajax({
                type: "POST",
                url: "/Teacher/Exam/CreateExam",
                traditional: true,
                dataType: "application/json",
                data: { formdata: stringifiedSTR, examDetails: JSON.stringify(examsDetails) },
                success: function (data) {
                    alert("BAŞARILI?");
                }
            });
        });
    });
</script>
