@using OnlineSinav.Models
@model OnlineSinav.Areas.Student.ViewModels.Exam
@{

    var endTime = DateTime.UtcNow.AddSeconds(Model.examduration * 60);
    var timeRemaining = TimeSpan.FromTicks(endTime.Ticks - DateTime.UtcNow.Ticks).TotalSeconds;



}



<div>
    Kalan zaman  <span id="minRemaining"></span>:<span id="secRemaining">  </span>
    <img src="~/Content/img/clock-animated-gif-23.gif" width="100" height="75" style="margin-left:50px" />
    
</div>
@Html.Partial("_QuestionLayout");

<script>
    var remSeconds = @timeRemaining;
    var secondsCounter = 60 - (remSeconds % 60);
    function startTick() {
        document.getElementById('secRemaining').innerText = secondsCounter;
        document.getElementById('minRemaining').innerText = parseInt(remSeconds / 60);

        var _tick = setInterval(function() {



            document.getElementById('secRemaining').innerText = secondsCounter;
            document.getElementById('minRemaining').innerText = parseInt(remSeconds / 60);
            if (secondsCounter == 0) {
                secondsCounter = 60;
            }
            remSeconds = remSeconds - 1;
            secondsCounter = secondsCounter - 1;



        }, 1000);

    }

    startTick();

    function saveForward(sender) {

        $('#direction').val('forward');
        document.getElementById('form').submit;

    }
    function saveBackward(sender) {

        $('#direction').val('backward');
        document.getElementById('form').submit;

    }
</script>
<script type="text/javascript">
    function ModifyCheckBoxes(id) {
        if (document.getElementById(id).checked) {
            if (id == "#Answer1") {
                document.getElementById("#Answer2").checked = false;
                document.getElementById("#Answer3").checked = false;
                document.getElementById("#Answer4").checked = false;
                document.getElementById("#Answer5").checked = false;

            } else if (id == "#Answer2") {
                document.getElementById("#Answer1").checked = false;
                document.getElementById("#Answer3").checked = false;
                document.getElementById("#Answer4").checked = false;
                document.getElementById("#Answer5").checked = false;

            }
            else if (id == "C") {
                document.getElementById("A").checked = false;
                document.getElementById("B").checked = false;
                document.getElementById("D").checked = false;
                document.getElementById("E").checked = false;

            } else if (id == "D") {
                document.getElementById("A").checked = false;
                document.getElementById("C").checked = false;
                document.getElementById("B").checked = false;
                document.getElementById("E").checked = false;

            } else if (id == "E") {
                document.getElementById("A").checked = false;
                document.getElementById("C").checked = false;
                document.getElementById("D").checked = false;
                document.getElementById("B").checked = false;

            }
        };
    };

</script>



