@model OnlineSinav.ViewModels.AuthLogin
@{
    Layout = null;
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>GİRİŞ YAP</title>

    <!-- Favicons -->
    <link href="../../Content/img/favicon.png" rel="icon">
    <link href="../../Content/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="../../Content/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="../../Content/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="../../Content/css/style.css" rel="stylesheet">
    <link href="../../Content/css/style-responsive.css" rel="stylesheet">

    <!-- =======================================================
      Template Name: Dashio
      Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
      Author: TemplateMag.com
      License: https://templatemag.com/license/
    ======================================================= -->
</head>

<body>
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <div id="login-page">
        <div class="container" style="vertical-align:middle;">
            <form class="form-login">

                @using (Html.BeginForm())
                {
                    <h2 class="form-login-heading">sign in now</h2>
                    <div class="login-wrap">

                        @Html.TextBoxFor(f => f.school_number, new { placeholder = "Numara", @class = "form-control" })
                        <br>
                        @Html.TextBoxFor(f => f.password, new { placeholder = "Şifre", @class = "form-control" })
                        <br>
                        <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> Giriş yap</button>

                    </div>
                }
            </form>
        </div>

    </div>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="../../Content/lib/jquery/jquery.min.js"></script>
    <script src="../../Content/lib/bootstrap/js/bootstrap.min.js"></script>
    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="../../Content/lib/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("../../Content/img/arkaplan9.jpg", {
            speed: 500
        });
    </script>
</body>

</html>

